body {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.4rem;
}
@media (min-width: 360px) {
  body {
    font-size: 17px;
    font-size: calc(0.2781641168vw + 16px - 0.0027816412 * 360px);
    line-height: 29.2px;
    line-height: calc(1.8915159944vw + 22.4px - 0.0189151599 * 360px);
  }
}
@media (min-width: 1080px) {
  body {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 2.25rem;
  }
}

.maxcontainer {
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: "Raleway", serif;
  font-weight: normal;
}

h1 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 2.1rem;
  margin: 0 0 24px;
}
@media (min-width: 360px) {
  h1 {
    font-size: 36px;
    font-size: calc(3.3379694019vw + 24px - 0.033379694 * 360px);
    line-height: 64.8px;
    line-height: calc(8.6787204451vw + 33.6px - 0.0867872045 * 360px);
  }
}
@media (min-width: 1080px) {
  h1 {
    font-size: 48px;
    font-size: 3rem;
    line-height: 6rem;
  }
}
h1 small {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.4rem;
}
@media (min-width: 360px) {
  h1 small {
    font-size: 20px;
    font-size: calc(1.1126564673vw + 16px - 0.0111265647 * 360px);
    line-height: 35.2px;
    line-height: calc(3.5605006954vw + 22.4px - 0.035605007 * 360px);
  }
}
@media (min-width: 1080px) {
  h1 small {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 3rem;
  }
}

h2 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.75rem;
  line-height: 1.4;
  margin: 0 0 24px;
}
@media (min-width: 360px) {
  h2 {
    font-size: 29px;
    font-size: calc(2.5034770515vw + 20px - 0.0250347705 * 360px);
    line-height: 52px;
    line-height: calc(6.6759388039vw + 28px - 0.066759388 * 360px);
  }
}
@media (min-width: 1080px) {
  h2 {
    font-size: 38px;
    font-size: 2.375rem;
    line-height: 4.75rem;
  }
}

h3 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.575rem;
  margin: 0;
}
@media (min-width: 360px) {
  h3 {
    font-size: 23px;
    font-size: calc(1.3908205841vw + 18px - 0.0139082058 * 360px);
    line-height: 40.6px;
    line-height: calc(4.2837273992vw + 25.2px - 0.042837274 * 360px);
  }
}
@media (min-width: 1080px) {
  h3 {
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 3.5rem;
  }
}

h4 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin: 0;
}
@media (min-width: 360px) {
  h4 {
    font-size: 24px;
    font-size: calc(1.1126564673vw + 20px - 0.0111265647 * 360px);
    line-height: 42px;
    line-height: calc(3.8942976356vw + 28px - 0.0389429764 * 360px);
  }
}
@media (min-width: 1080px) {
  h4 {
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 3.5rem;
  }
}

h5 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.4rem;
  margin: 0;
}
@media (min-width: 360px) {
  h5 {
    font-size: 18px;
    font-size: calc(0.5563282337vw + 16px - 0.0055632823 * 360px);
    line-height: 31.2px;
    line-height: calc(2.4478442281vw + 22.4px - 0.0244784423 * 360px);
  }
}
@media (min-width: 1080px) {
  h5 {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 2.5rem;
  }
}

h6 {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.225rem;
  margin: 0;
}
@media (min-width: 360px) {
  h6 {
    font-size: 16px;
    font-size: calc(0.5563282337vw + 14px - 0.0055632823 * 360px);
    line-height: 27.8px;
    line-height: calc(2.280945758vw + 19.6px - 0.0228094576 * 360px);
  }
}
@media (min-width: 1080px) {
  h6 {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 2.25rem;
  }
}

p {
  margin-bottom: 24px;
}

pre {
  text-align: left;
  margin: 24px 0 48px;
  padding: 48px 48px 48px 24px;
  background: #454545;
  color: white;
  display: inline-block;
  width: 100%;
}

code {
  white-space: pre-wrap;
  word-wrap: break-word;
}/*# sourceMappingURL=responsive.css.map */